body {
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
  color: $color-default;
  background-color: $body-background;
  @extend %rubik-400;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}